<% title "About" %>

<h1 class ='center'>About Page</h1>
<div class="col-md-4 col-md-offset-4">
Alpha blog was made in November 2016 and was originally built to be a playground for learning Ruby on Rails.
Should this project continue, much of its functionality will be added in later development stages.
</div>